@{
    ViewData["Title"] = "Actieve MQ";
}
<h3>@ViewData["Message"]</h3>

<form asp-action="Contact">
    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="text" name="ContactName" value="" /><br /><br />
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
  
</form>